<!-- This is the base template that displays the main content of a page other views can override this -->
<!DOCTYPE html>
<html>
  <head>
    <!--The url_for() method allows us to load in a specific file in our app-->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../static/function.js"></script>
  </head>

  <title>{% block title %} Homepage {% endblock %}</title>
  <body>
    <div class="navbar">
      <ul class="navbar_list">
        <!-- <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/message">Messages</a></li> -->
        <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/account">Account</a></li>
        <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/users">Users</a></li>
        <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/upload">Uploads</a></li>
        <li class="navbar_list_home navbar_list_button"><a href="/"><img class="navbar_list_home_image navbar_list_button_link" src="../static/assets/jesseGif.gif" alt="Home"></a></li>
        <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/login">Login</a></li>
        <li class="navbar_list_home navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/logout">Logout</a></li>
        <li class="navbar_list_button"><a class="navbar_list_button_link regulatedWidth" href="/sign-up">Sign-Up</a></li>
      </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error'%}
           <div class="flashError">
             {{ message }}
            </div>
          {% else %}
            <div class="flashSuccess">
             {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
      {% block content %}
      <h1>Hello</h1>
      {% endblock %}
    </div>
    <!-- <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/function.js') }}"
    ></script> -->
  </body>
</html>
