{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
content %}

{% if user == None %}
<h1>Please <a href="{{ url_for('auth.sign_up') }}" class="home_link">sign-up</a> or <a href="{{ url_for('auth.login') }}" class="home_link">login.</a></h1>
{% else %}
<h1>Welcome back, {{user}}</h1>
{% endif %}
<body class="outer">

<div class="container">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>

        <div class="col-12 col-sm-12 col-md-10">

            <hr/>

            <h1>CSE312: Web Applications</h1>
            <h1>Spring 2022</h1>
            <hr/>

            <a href="https://autograder.cse.buffalo.edu/courses/CSE312-s22/assessments" class="non_visual_link">
                <img src="../static/images/autolab.svg" class="socials"/> Submit assignments
                here</a><br/>

            <a href="https://www.youtube.com/channel/UCxB_9AWzBvp4mWSk8zpFU6g/videos" class="non_visual_link">
                <img src="../static/images/_youtube_.png" class="socials"/> Watch past
                lectures</a><br/>

            <a href="https://piazza.com/class/kyxv84gvra05on?cid=6" class="non_visual_link">
                <img src="../static/images/piazza.png" class="socials"/> Ask questions and find office hours</a><br/>




            <a href="https://discord.gg/nC4eBGM" class="non_visual_link">
                <img src="../static/images/discord2.png" class="socials"/> Chat with other
                students</a>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#syllabus">
                    <div class="card-header text-white section-header">
                        <div>
                            Syllabus <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="syllabus" class="collapse show">
                    <div class="card-body">
                        <div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>



<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>
                Have a desire to learn about Web Applications
            </li>
            <li>
                Be able to develop software with little guidance
            </li>
            <li>
                Be able to find, read, and understand technical documentation
            </li>
            <li>
                Spend a minimum of 12 hours/week on CSE312
            </li>
        </ul>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            Your final grade will be determined by the following percentages:
        </p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Lecture Questions</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Homework</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>Team Project</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Team Project Presentation</td>
                <td>10%</td>
            </tr>
        </table>

        <br/>

        <p>
            Your final letter grade will be determined by the following cutoffs:
        </p><br/>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>92%+</td>
                <td>A</td>
            </tr>
            <tr>
                <td>89% - 92%</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>86% - 89%</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>83% - 86%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>80% - 83%</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>77% - 80%</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>74% - 77%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>70% - 74%</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>< 70%</td>
                <td>F</td>
            </tr>
        </table>

        <br/>
        <p>
            <b>Lecture Questions: </b> Most lecture will contain a simple, usually multiple choice, question for you to
            answer during lecture. Of these questions, 20% of them will be dropped. For example, if we have 40 lecture
            questions throughout the semester, you can miss 8 of them and still earn the full 10% towards your final
            grade.
        </p>

    </div>

</div>




<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Links to relevant readings and tutorials will be provided
            in the course schedule.
        </p>

    </div>

</div>



<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>




<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html">
            http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to what has been submitted by another student,
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their submission with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE312.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                code and documentation independently
            </li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Collaborating with your team mates on the team project</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Falsifying a homework submission form. Ex. Claiming to have completed an objective that you did not complete.</li>
            <li>Submitting code or other work that is not your own for course credit.</li>
            <li>Allowing another student to see your code or submission for an assignment. (Ex. Sitting side-by-side while working on a homework such that you can see each other screens)</li>
            <li>Collaborating with another student to write code or documentation for a homework assignment.
            </li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Ex. Do not
                post you code publicly, host your code in a public repository, or allow anyone to access your
                laptop)
            </li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Writing project code for a teammate and allowing them to represent it as their own.</li>
        </ul>

    </div>

</div>
                    </div>
                </div>
            </div>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#homework">
                    <div class="card-header text-white section-header">
                        <div>
                            Homework <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="homework" class="collapse show">
                    <div class="card-body">
                        <div class="card border-dark mb-3">


    <div class="card-body">

        <h3 class="card-title">Overview</h3>







        <p>
            Each assignment will be a programming/development assignment with a submission of your software on AutoLab,
            though there will be <b>little/no automated grading in this course</b>. You will submit
            all of the code and files that comprise your software on AutoLab in a single zip file.
        </p>

        <p>The following apply to all homework assignments except where exceptions are explicitly stated:</p>
        <ul>
            <li>You may choose any programming language you prefer</li>
            <li>No external libraries or frameworks are allowed if the library implements functionality that we
                covered in class (TCP and concurrency exception below for certain languages)</li>
            <li>Any libraries/packages/classes/functions/etc included with your language of choice that complete part
                of an assignment - related to the course content - for you are not allowed. This includes any and all
                HTTP libraries and frameworks</li>
            <li>Code included with your language of choice that handles TCP socket servers and concurrency are allowed.
                Most assignments will start with a TCP socket server upon which you'll develop a web server. Industry
                standard external libraries for TCP and concurrency are allowed if they are common in the community
                for your language (Ex. Akka for Scala).</li>
            <li>If you have any question whether or not something is allowed, please ask <b>before</b> the assignment is
            due. In general, if I explained something in detail during lecture then you must write all the code that
                implements those details.</li>
        </ul>

    </div>

</div>
                    </div>
                </div>

            </div>


            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#project">
                    <div class="card-header text-white section-header">
                        <div>
                            Project <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="project" class="collapse show">
                    <div class="card-body">
                        <div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Overview</h3>

        <p>
            You'll work in teams of 4-5 to create a web app of your own design which must include:
        </p>

        <ul>
            <li>User Accounts with Secure Authentication</li>
            <li>Users to see all users who are currently logged in</li>
            <li>Users can send direct messages (DM) to other users with notifications when a DM is received</li>
            <li>Users can share some form of multimedia content which is stored and hosted on your server</li>
            <li>Live interactions between users via WebSockets (Cannot be text)</li>
        </ul>

        <p>
            You are free to design your app any way you'd like as long as these 5 features are included.
        </p>

        <p>
            You will also give a presentation showing off your project at the end of the semester.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Weekly Meetings</h3>

        <p>
            All scheduled recitation sections are cancelled and replaced with team meetings which will start on week 5
            of the semester. Your team will schedule a time and location for these meetings and all team members will
            submit the team meeting form after each meeting.
        </p>


        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdFvgmsjo6OeEYNDiBP0Ij86Rpx4455QXGTwlAcAjS8tm57XQ/viewform?usp=sf_link">Team
            Meeting Form</a>
<br/>
<br/>
        <p>
            Meeting submissions and peer evaluations will be used to adjust individual grades at the discretion of the
            course staff. The average individual score for a team will equal the team score for each phase (ie. An
            entire team will not be penalized based on meetings and evaluations). Individual grade adjustments will
            not result in a score > 100%.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Submissions</h3>

        <p>
            The entire project is due after the last day of classes.



        </p>

        <p>
            Specific requirements for the project and presentation:
        </p>

        <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_AVhuxlvMy-GgwLvfgk-dj4bVkUZ-H05yfbXro5e7ss47Sg/viewform?usp=sf_link" target="_blank">Project Team Formation Form</a></div>
        <div><a href="https://docs.google.com/document/d/12cw6QCdBDBOpoYnmXvz5NOR97ovIv0NWyqjURiouU3Y/edit?usp=sharing" target="_blank">Project Requirements</a></div>
        <div><a href="https://docs.google.com/document/d/1TR3_pWsCWDVElfP-J_yHx9ofsVyXFtT-x0DHb6uRlmQ/edit?usp=sharing" target="_blank">Report Template</a></div>
        <div><a href="https://docs.google.com/document/d/1Wkadfz0N84phzeAFSWG_7eSF5T2OkxlXc-c7cxAZ1sU/edit?usp=sharing" target="_blank">Presentation</a></div>

<br/>

    </div>


</div>



<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Open-Source Reports</h3>
        <p>
            As opposed to the homework assignments, you are allowed to use external libraries, frameworks, and services
            for your project.
            For example, instead of building your site starting with a TCP socket server you can use technology
            such as Express, Flask, Django, React, Angular, Handlebars, Apache, Nginx, Socket.io,
            etc. However, any time you use technology that was not developed by your team you must provide a report for
            that technology.
        </p>

        <p>
            <b>Report:</b> For each technology used in your project that would not be allowed for a homework assignment,
            your team must submit a technical
            report explaining what it accomplishes, how it works, and the licenses
            involved. In addition to the report, every team member who helped develop the part of the project using a
            specific technology must be prepared to answer questions about it at all times.
        </p>

        <p>
            Each report must answer:
        </p>
        <ul>
            <li>
                What does this technology (library/framework/service) accomplish for you?
                <ul>
                    <li>
                        Explain what this technology does in your project. What problems does it solve for you?
                    </li>
                </ul>
            </li>
            <li>
                How does this technology accomplish what it does?
                <ul>
                    <li>
                        For each problem this technology solves for you, explain in detail how it solves it starting
                        with a TCP socket connection. You must
                        include links to any relevant documentation or code. If the technology is open-source, you must
                        include links to the exact code that solves your problem for you.
                    </li>
                    <li>
                        Ex. If
                        you use express for your web framework you must explain how express handles an HTTP request
                        starting with a TCP connection to
                        include how it routes requests, how headers are parsed, etc. and link to the exact code on
                        GitHub that parses HTTP headers and routes paths. Any other express features used must also be
                        explained and the code linked. You do not have to explain features of the library that are not
                        used in your project.
                    </li>

                </ul>
            </li>
            <li>
                What license(s) or terms of service apply to this technology?
            </li>
            <ul>
                <li>
                    When using technology you did not write you will be subject to certain agreements. List any licences
                    attached to the project (Ex. MIT, Apache) and what that license means for your project. If using
                    a service, review the terms of service and explain all the implications of these terms for your
                    project.
                </li>
            </ul>
        </ul>

        <p>
            <b>Why?:</b> Developing a website using existing frameworks/libraries/services does not require
            years of CSE education and is not appropriate for a project in a 300-level technical course.
            The use of frameworks/libraries/services are allowed for this project, and strongly encouraged outside of
            this course, but you must prove that you
            understand what is being done for you by other developers and how they do it. <b>In this course, you cannot
            use technology that you do not understand.</b>
        </p>

        <p>
            A report must be included in your repository for each library/framework used in your project. If any reports
            are missing, inadequate, or a team member who developed with a technology fails to answer questions about it
            the team is in violation and the project may become invalid. Consequences will be decided by the course staff on
            a case-by-case basis which can range up to a 0 for the entire project.
        </p>

    </div>

</div>

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>

        <p>
            Project grading is based on your team's completion of each of the features. Features will be equally
            weighted.
        </p>

        <p>Note: If you complete a feature without complete reports for all libraries used, you will earn a 0 for that
            feature.</p>

        <p>
            <b>Security</b>: If there are any security issues with your project that have been covered in lecture,
            your grade for each feature that exposes the vulnerability will be changed to 0. Your
            entire project grade may be changed to 0 at the discretion of the course staff and depending on the
            severity of the security vulnerability.
        </p>

    </div>


</div>
                    </div>
                </div>

            </div>


            <hr/>

            <!--- HW1 --->

            <a data-toggle="collapse" data-target="#block1">
                <div class="card-header section-testing">
                    <div>
                        1 - HTTP and Docker<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block1" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1Z8zbhUQIa3WW1jO6NhxDjnJ1H12Zd5XjNQxXHaQcIZA/edit?usp=sharing">Homework 1</a>
                        </td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 1</b>
                        </td>
                    </tr>

                    <tr>
    <td width="5%">Monday, January 31</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Course Introduction and TCP/IP</h5>
                <a href="static/1_1_TCPIP.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a> <-- Slides

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>


<tr>
    <td width="10%">Wednesday, February 2
    </td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Overview</h5>
                <a href="static_files/slides/1_2_HTTP_Intro.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP (Wikipedia)</a></li>
                    <li><a href="https://tools.ietf.org/html/rfc2616">RFC2610 - HTTP 1.1</a></li>

                    
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, February 4</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Request/Response</h5>
                <a href="static_files/slides/1_3_HTTP_Request_Response.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>

    </td>
</tr>



                    <tr class="section-week">
                        <td colspan="3"><b>Week 2</b>
                        </td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, February 7</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP - Static Files, MIME Types, and Encodings</h5>
                <a href="static_files/slides/1_4_Encodings.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8 (Wikipedia)</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types">MIME types</a></li>
                    <li><a href="https://www.iana.org/assignments/media-types/media-types.xhtml">Every MIME type</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">String MIME types</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 9</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Docker</h5>
                <a href="static_files/slides/1_5_Docker.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.docker.com/">Docker</a></li>
                    <li><a href="https://docs.docker.com/get-started/">Docker - Getting Started</a></li>
                    <li><a href="https://docs.docker.com/docker-for-windows/wsl/">Docker For Windows Users</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, February 11</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Databases and docker-compose</h5>
                <a href="static_files/slides/1_6_Databases.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.mysql.com">MySQL</a></li>
                    <li><a href="https://www.w3schools.com/sql/">SQL Tutorial</a></li>
                    <li><a href="https://www.mongodb.com">MongoDB</a></li>
                    <li><a href="https://www.tutorialspoint.com/mongodb/index.htm">MongoDB Tutorial</a></li>
                    <li><a href="https://docs.docker.com/compose/">Docker Compose</a></li>
                    <li><a href="https://dev.to/hugodias/wait-for-mongodb-to-start-on-docker-3h8b">Waiting Workaround</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>













                    <tr class="section-week">
                        <td colspan="3"><b>Week 3</b>
                        </td>
                    </tr>

                    

<tr>
    <td width="10%">Monday, February 14</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">CRUD and REST API</h5>
                <a href="static_files/slides/1_7_API.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 16</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Testing APIs and docker examples</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.postman.com/">Postman</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, February 18</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP, Docker, and encodings examples</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>

    </td>
</tr>





                    </tbody>
                </table>
            </div>

            <!--- HW2 --->

            <a data-toggle="collapse" data-target="#block2">
                <div class="card-header section-testing">
                    <div>
                        2 - Dynamic Site<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block2" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1zhalztSbDpz6gxiKx_hUPWQPj-ZFA95CQS6uSB2JIeM/edit?usp=sharing">Homework 2</a>
                        </td>
                    </tr>



                    <tr class="section-week">
                        <td colspan="3"><b>Week 4</b>
                        </td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, February 21</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Front End Development - HTML/CSS + JavaScript</h5>

                <a href="static_files/slides/2_1_Front_End.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

                <a href="static_files/slides/2_2_Front_End.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                     class="img-responsive slide-icon"/></a>
            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML [W3 Schools]</a></li>
                    <li><a href="https://www.w3schools.com/css/default.asp">CSS [W3 Schools]</a></li>
                    <li><a href="https://www.w3schools.com/js/default.asp">JavaScript [W3 Schools]</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 23</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST and Forms</h5>
                <a href="static_files/slides/3_1_POST_Forms.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/html/html_forms.asp">HTML Forms [W3 Schools]</a></li>
                </ul>
            </div>
        </div>





    </td>
</tr>

<tr>
    <td width="10%">Friday, February 25</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST - File Uploads</h5>
                <a href="static_files/slides/3_3_File_Uploads.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc1521">RFC1521 - Multipart Form</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, February 25 @ 11:59pm
        <span class="float-right">HW1 Due</span>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, February 25 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_AVhuxlvMy-GgwLvfgk-dj4bVkUZ-H05yfbXro5e7ss47Sg/viewform?usp=sf_link" target="_blank">Team Formation</a> Due</span>
    </td>
</tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 5</b>
                        </td>
                    </tr>

                    

<tr>
    <td width="10%">Monday, February 28</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Templates</h5>
                <a href="static_files/slides/2_4_Query_Strings_Templates.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Query_string">Query Strings (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Web_template_system">Templating (Wikipedia)</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 2</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Buffers</h5>
                <a href="static_files/slides/3_4_Buffers.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, March 4</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Injection Attacks</h5>
                <a href="static_files/slides/3_2_Injection_Attacks.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>



                    <tr class="section-week">
                        <td colspan="3"><b>Week 6</b>
                        </td>
                    </tr>

                    

<tr>
    <td width="10%">Monday, March 7</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">XSRF</h5>
                <a href="static_files/slides/3_6_XSRF.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 9</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">


                <h5 class="header">Browser Extensions</h5>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension">Browser Extension tutorial</a></li>
                </ul>


            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, March 11</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">AJAX and Polling</h5>

                <a href="static_files/slides/3_5_AJAX_Polling.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX [W3 Schools]</a></li>
                </ul>
            </div>
        </div>




    </td>
</tr>


                    </tbody>
                </table>
            </div>

            <!--- HW3 --->

            <a data-toggle="collapse" data-target="#block3">
                <div class="card-header section-testing">
                    <div>
                        3 - WebSockets and WebRTC<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block3" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                             <a href="https://docs.google.com/document/d/1zD0I8fRbxqptdT_5pZWEPFgMqQYxHPfTN1_DP36JMwY/edit?usp=sharing">Homework 3</a>
                        </td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 7</b>
                        </td>
                    </tr>

                    <tr>
    <td width="10%">Monday, March 14</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Handshake</h5>
                <a href="static_files/slides/4_1_WebSocket_Handshake.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc6455">RFC 6455</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSocket Documentation and Examples</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 16</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Frames</h5>
                <a href="static_files/slides/4_2_WebSocket_Frames.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, March 18</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Examples</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>


    </td>
</tr>


                    <tr>
                        <td colspan="3">March 21 - March 25: <b>Spring Break!</b></td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 8</b>
                        </td>
                    </tr>



                    

<tr class="table-warning">
    <td colspan="3">Friday, March 25 @ 11:59pm
        <span class="float-right">HW2 Due</span>
    </td>
</tr>

<tr>
    <td width="10%">Monday, March 28</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Overview</h5>
                                <a href="static_files/slides/4_3_WebRTC.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>




                




                    






    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 30</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Details</h5>
                  <a href="static_files/slides/4_4_WebRTC_2.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, April 1</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Demos</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>




    </td>
</tr>

                    <tr class="section-week">
                        <td colspan="3"><b>Week 9</b>
                        </td>
                    </tr>

                    

<tr>
    <td width="10%">Monday, April 4</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 6</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, April 28</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>



                    </tbody>
                </table>
            </div>

            <!--- HW4 --->

            <a data-toggle="collapse" data-target="#block4">
                <div class="card-header section-testing">
                    <div>
                        4 - Authentication<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block4" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                             <a href="https://docs.google.com/document/d/1t-mbZkujQrLUPdfRBsa-2_HaVeYc8EEfbBT6LIPwnTA/edit?usp=sharing">Homework 4</a>
                        </td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 10</b>
                        </td>
                    </tr>

                    

<tr>
    <td width="10%">Monday, April 11</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Cookies</h5>
                <a href="static_files/slides/5_1_Cookies.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc6265">RFC6265 - Cookies</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie">Directives Overview</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date">Date Formatting</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 13</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication and Secure Password Storage</h5>
                <a href="static_files/slides/5_2_Authentication.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Bcrypt">bcrypt (Wikipedia)</a></li>
                    
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, April 15</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication Tokens and Sessions</h5>
                <a href="static_files/slides/5_3_Authentication_Tokens.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    
                </ul>
            </div>
        </div>





    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, April 15 @ 11:59pm
        <span class="float-right">HW3 Due</span>
    </td>
</tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 11</b>
                        </td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, April 18</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Encryption</h5>
                <a href="static_files/slides/21_Encryption.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)">RSA (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Certificate_authority">CAs (Wikipedia)</a></li>
                </ul>
            </div>
        </div>






    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 20</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTPS</h5>
                <a href="static_files/slides/22_Encryption2.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc5246">RFC 5246 - TLS 1.2</a></li>
                    <li><a href="https://tools.ietf.org/html/rfc8446">RFC 8446 - TLS 1.3</a></li>
                    <li><a href="https://tls.ulfheim.net/">TLS 1.2 Example</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Diffie–Hellman_key_exchange">Diffie-Hellman Key Exchange (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES (Wikipedia)</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, April 22</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Reverse Proxy Servers</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, April 22 @ 11:59pm
        <span class="float-right">Team Project Reports Checkpoint</span>
    </td>
</tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 12</b>
                        </td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, April 25</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 27</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>


<tr>
    <td width="10%">Friday, April 29</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose and certbot</h5>
                

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>
        
    </td>
</tr>

                    </tbody>
                </table>
            </div>


            <!--- Project --->

            <a data-toggle="collapse" data-target="#blockx">
                <div class="card-header section-review">
                    <div>
                        Web Apps<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="blockx" class="collapse show section-card card-review">

                <table class="table table-bordered">

                    <tbody>


                    <tr class="section-review">
                        <td colspan="3"><b>Week 13</b>
                            
                        </td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, May 2</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review/Examples</h5>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>





<tr>
    <td width="10%">Wednesday, May 4</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review/Examples</h5>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>

    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, May 4 @ 11:59pm
        <span class="float-right">Deadline to
            <a href="https://calendly.com/hartloff/cse312-presentations">
                sign up for a presentation time
            </a>
        </span>
    </td>
</tr>


<tr>
    <td width="10%">Friday, May 6</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review/Examples</h5>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, May 6 @ 11:59pm
        <span class="float-right">HW4 Due</span>
    </td>
</tr>


                    <tr class="section-review">
                        <td colspan="3"><b>Week 14</b></td>
                    </tr>


                    

<tr>
    <td width="10%">Monday, May 9</td>
    <td colspan="2">


        <h5>Project Presentations</h5>
        <ul>
            <li>Encoders</li>
            <li>web apps</li>
            <li>404</li>
        </ul>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, May 11</td>
    <td colspan="2">


        <h5>Project Presentations</h5>
        <ul>
            <li>College Dropouts</li>
            <li>Team A</li>
            <li>WeHateMondays</li>
            <li>Nanoblade</li>
        </ul>

    </td>
</tr>

<tr>
    <td width="10%">Friday, May 13</td>
    <td colspan="2">



        <h5>Project Presentations</h5>
        <ul>
            <li>3 coders, 2 resignations, 1 project, 0 brain cells!</li>
            <li>Team Pulsar</li>
            <li>Peer Pressure</li>
            <li>Moody and his crooks</li>
        </ul>

    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Friday, May 13 @ 11:59pm
        <span class="float-right">Project Deadline</span>
    </td>
</tr>


<tr>
    <td width="10%">Monday, May 16 @ 9-10:40am in NSC220</td>
    <td colspan="2">


        <h5>Project Presentations</h5>
        <ul>
            <li>code wars</li>
            <li>json five</li>
            <li>HHHDJ</li>
            <li>JWRD</li>
            <li>AllGasNoBrakes</li>
            <li>Genius backend</li>
            <li>Grandmasters</li>
            <li>Team Stampede</li>
            <li>Walrus</li>
            <li>304 Created</li>
        </ul>

    </td>
</tr>











                    </tbody>
                </table>
            </div>

            
            
            
            
            
            
            
            
            
            
            
            
            


        </div>


        <div class="col-0 col-sm-0 col-md-1"></div>

        
        
        
        
        
        
        
        
        
        
        

    </div>

</div>

</body>

{% endblock %}
