{% extends "base.html" %} {% block title %}Users{% endblock %} {% block
content%}
<div class="users">
   <h1 class="users_header">Users</h1>
   <div class="users_container">
      <div class="userCard">
         <div class="userCard_avatar">
            <img class="userCard_avatar_image" src="../static/assets/jesseGif.gif" alt="avatar">
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">
                  Jesse Hartloff
               </div>
            </div>
            <div class="userCard_description">
               Description
            </div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div">
               <img src="../static/assets/message-solid.svg" class="userCard_buttons_svg" alt="">
            </div>
         </div>
      </div>

      <div class="userCard">
         <div class="userCard_avatar">
            <img class="userCard_avatar_image" src="../static/assets/jesseGif.gif" alt="avatar">
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">
                  Jesse Hartloff
               </div>
            </div>
            <div class="userCard_description">
               Description
            </div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div">
               <img src="../static/assets/message-solid.svg" class="userCard_buttons_svg" alt="">
            </div>
         </div>
      </div>

      <div class="userCard">
         <div class="userCard_avatar">
            <img class="userCard_avatar_image" src="../static/assets/jesseGif.gif" alt="avatar">
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">
                  Jesse Hartloff
               </div>
            </div>
            <div class="userCard_description">
               Description
            </div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div">
               <img src="../static/assets/message-solid.svg" class="userCard_buttons_svg" alt="">
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}