{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content%}
<div class="users">
   <div class="messageWindow">
      <div class="messageWindow_top">
         <div class="messageWindow_top_exitButton">
            <img
               class="messageWindow_top_exitButton_svg"
               src="../static/assets/xmark-solid.svg"
               alt="X"
            />
         </div>
         <h2 class="messageWindow_top_title">Messages</h2>
      </div>
      <div class="messageWindow_messages">
         <ul class="messageWindow_messages_list">
            <li class="messageWindow_messages_instance">message</li>
         </ul>
      </div>
      <div class="messageWindow_bottom">
         <div class="messageWindow_bottom_inputDiv">
            <input
               type="text"
               class="messageWindow_bottom_input"
               id="receiver"
               name="receiver"
               placeholder="Enter username"
            />
         </div>
      </div>
   </div>
   <h1 class="users_header">Users</h1>
   <div class="users_container">
      <div class="userCard">
         <div class="userCard_avatar">
            <img
               class="userCard_avatar_image"
               src="../static/assets/jesseGif.gif"
               alt="avatar"
            />
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">Jesse Hartloff</div>
            </div>
            <div class="userCard_description">Description</div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div">
               <img
                  src="../static/assets/message-solid.svg"
                  class="userCard_buttons_svg"
                  alt=""
               />
            </div>
         </div>
      </div>

      <div class="userCard">
         <div class="userCard_avatar">
            <img
               class="userCard_avatar_image"
               src="../static/assets/jesseGif.gif"
               alt="avatar"
            />
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">Jesse Hartloff</div>
            </div>
            <div class="userCard_description">Description</div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div">
               <img
                  src="../static/assets/message-solid.svg"
                  class="userCard_buttons_svg"
                  alt=""
               />
            </div>
         </div>
      </div>

      <div class="userCard">
         <div class="userCard_avatar">
            <img
               class="userCard_avatar_image"
               src="../static/assets/jesseGif.gif"
               alt="avatar"
            />
         </div>
         <div class="userCard_main">
            <div class="userCard_top">
               <div class="userCard_top_name">Jesse Hartloff</div>
            </div>
            <div class="userCard_description">Description</div>
         </div>
         <div class="userCard_buttons">
            <div class="svg_div" onclick="">
               <img
                  src="../static/assets/message-solid.svg"
                  class="userCard_buttons_svg"
                  alt=""
               />
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
