h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 50px;
}

.uploaded-images {
  width: 200px;
}

.container {
  color: rgb(255, 255, 255);
}
body {
  background-color: #248fce;
}

.active {
  background-color: rgb(28, 197, 22);
  position: sticky;
  top: 0;
}

ul {
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: aliceblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(28, 197, 22);
}

.form-group {
  text-align: left;
  margin: auto;
  padding: 1px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#parent {
  height: fit-content;
  margin: auto;
  width: 60%;
}

.sign-up-button {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;

  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(28, 197, 22);
}

.flashError {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(240, 145, 161);
  color: rgb(0, 0, 0);
}

.flashSuccess {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(145, 240, 166);
  color: rgb(0, 0, 0);
}