h1 {
  font-size: 40px;
  color: rgb(77, 134, 240);
}

.container {
  color: rgb(211, 132, 248);
}
body {
  background-color: #252525;
}

.active {
  background-color: rgb(28, 197, 22);
  position: sticky;
  top: 0;
}

ul {
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: aliceblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(28, 197, 22);
}
